
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.home{
    background-image: url(../images/bg13.jpg   );
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #f1f5f9;
    font-family: 'Segoe UI', sans-serif;
}
body{
    background-image: url(../images/bg35.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #000000;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: linear-gradient(to bottom, #1f1f1f, #161616);
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 102, 0) ;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #272727;
    font-size: 16px;
    outline: none;
    color: #ffffff;
    
}


.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background-color: rgb(255, 102, 0);
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    outline: none;
}
.contenedor__login-register form button:hover{
    transition: all 300ms;
    background: rgb(255, 102, 0) ;
    color: #fff;
}   




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}


.navbar {
    background: rgba(27, 29, 31, 0.7);
    transition: all 0.3s ease;
    height: 65px;   /* Ajusta este valor */
    width: auto;    /* Mantiene proporción */
}

.welcome{
    margin: 150px;
  
    background-image: url(../images/bg13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    /* Animación fade */
    text-align: center;
    color: white;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}
.navbar-welcome {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.welcome-content{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 100px;

}
.navbar-welcome.scrolled {
    background-color: rgba(15, 23, 42, 0.95) !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}



.img-logo {
    margin-bottom: 20px;
    align-self: center;
}

.navbar.scrolled {
    background-color: rgba(15, 23, 42, 0.95) !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.text-gradient {
    background: linear-gradient(90deg, lab(70.97% 33.32 75.53), #535353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-card {
    background: rgba(18, 18, 19, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin: -50px;   
}

.dashboard-card-1, .dashboard-card-2, .dashboard-card-3 , .dashboard-card-4, .dashboard-card-5  , .dashboard-card-6 {
    background: rgba(15, 15, 15, 0.836);
    border-radius: 15px;
    transition: 0.3s ease;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.05);
    width: 80%;
    margin: auto;
    color: white;
    transform: translateY(30px);
    animation: fadeIn 1.5s ease-in-out forwards;
    opacity: 0;
    transition: all 0.6s ease;
}


.dashboard-card-1:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px hsla(182, 75%, 49%, 0.502);
    color: hsla(182, 75%, 49%, 0.671);
    background-color: #0a0a0a73;
}

 .dashboard-card-2:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px hsla(182, 75%, 49%, 0.502);
    background-color: #0a0a0a73;
    color:  hsla(182, 75%, 49%, 0.671);

    /* box-shadow: 0 0 20px hsla(209, 100%, 57%, 0.502);  BOX SHADOW ORIGINAL*/
        /* color: hsla(209, 100%, 57%, 0.671); COLOR ORIGINAL*/
}

.dashboard-card-3:hover {
    transform: translateY(-10px);
    color:  hsla(182, 75%, 49%, 0.671);
    background-color: #0a0a0a73;
    box-shadow: 0 0 20px hsla(182, 75%, 49%, 0.502);


    /*   BOX SHADOW ORIGINAL*/
        /*  COLOR ORIGINAL*/
        
}

.dashboard-card-4:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px hsla(7, 96%, 51%, 0.502);
    background-color: #0a0a0a73;
        color: #b81500;
        
    /* box-shadow: 0 0 20px hsla(130, 93%, 54%, 0.502);  BOX SHADOW ORIGINAL*/
        /* color: hsla(130, 93%, 54%, 0.671);  COLOR ORIGINAL*/
        
}

.dashboard-card-5:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px hsla(7, 96%, 51%, 0.502);
    background-color: #0a0a0a73;
        color: #b81500;


    /* box-shadow: 0 0 20px hsla(303, 100%, 59%, 0.502); BOX SHADOW ORIGINAL*/
        /* color: hsla(303, 100%, 59%, 0.671); cOLOR ORIGINAL*/

}
    
.dashboard-card-6:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px hwb(14 1% 0% / 0.502);
    background-color: #0a0a0a73;
        color: #b81500;

    /* box-shadow: 0 0 20px hwb(14 1% 0% / 0.502); BOX SHADOW ORIGINAL*/
        /*  color: hwb(14 1% 0% / 0.671); COLOR ORGINAL*/ 
        
}


.glow-btn {
    box-shadow: 0 0 15px #ffae0099;
    transition: 0.3s;
}

.glow-btn:hover {
    box-shadow: 0 0 25px #ffc400;
}
.welcome-card {
    max-width: 1400px;
    margin: 0 auto;
}








@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* opcional: pequeño movimiento */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}